.master {
  flex: 1;
  /* background: red; */
  display: flex;
  position: relative;
  overflow: auto;
}

.column.left {
  /* background:blue; */
  display: flex;
  flex-direction: column;
}

.column.right {
  /* background: green; */
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: auto;
  position: relative;
}

.pane {
  overflow: auto;
}

.pane.top {
  /* border: 1px solid black; */
  /* border-bottom: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6; */
  flex-shrink: 0;
  /* padding: 8px; */
  position: relative;
}

.pane.bottom.right {
  position: relative;
}

.tracks-view-sliders-container {
  z-index: 5;
  position: fixed;
  right: 0;
}

.tracks-view-slider {
  display: inline-block;
  background: white;
  box-shadow: 0 0 8px 0 black;
  border-radius: 8px;
  margin: 4px;
  opacity: 0.8;
  padding: 8px;
}

.tracks-view-slider > input {
  width: 50px;
}

.tracks-view-slider-title {
  margin-right: 8px;
}
