.track-part.top {
  height: 3em;
  overflow-y: hidden;
  box-sizing: border-box;
}

.track-part {

  border-bottom: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;

  padding: 8px;
}

.track-part.left {
  width: 150px;
}

.track-part.bottom {
  height: 120px;
  box-sizing: border-box;
}

.track-header {
  background: #f2f2f2;
  overflow: hidden;
}

.track-display {
  background: white;
  /* height: 100%; */
  position: relative;
}

.delete-track {
  background: red;
  color: white;
  /* font-size: 2em; */
  padding: 8px;
}

.timeline-grid {
  position: absolute;
  /* z-index:100; */
  top: 0;
  height:100%;
}
