.track-part.top {
  height: 2em;
}

.track-part {

  border-bottom: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;

  padding: 8px;
}

.track-header, .track-display {
  height: 120px;
  box-sizing: border-box;
}

.track-header {
  background: #f2f2f2;
  width: 150px;
}

.track-display {
  background: white;
  /* height: 100%; */
}

.track-region {
  display: inline-block;
  height: 100%;
}

.track-canvas-wrapper {
  background: #80dbff;
  border-radius: 8px;
  display:flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
  /* opacity: 0.4; */
  box-sizing: border-box;
  /* border: 2px solid #00b7ff; */
}

.track-canvas-wrapper.selected {
  box-shadow: 0 0 4px 0 grey;
}

.track-canvas {
  /* background: #80dbff; */
  /* border-radius: 8px; */
  /* height: 100%; */
  opacity: 0.4;
  width: 100%;
}

.delete-track {
  background: red;
  color: white;
  /* font-size: 2em; */
  padding: 8px;
}
