

button {
  background-color: inherit;
  border: 0;
  color: inherit;
  font: inherit;
  padding: 0;
}

#title {
  border: 0;
  background-color: inherit;
  color: inherit;
  font: inherit;
  font-size: 2em;
  /* margin: 0 4px; */
  padding: 8px;
  text-overflow: ellipsis;

  max-width: 100%;
  box-sizing:border-box;
}

#title:hover {
  background-color: #444444;
}

#title:focus {
  outline: 0;
}

#tempo {
  /* background-color: #444444; */
  border: 0;
  /* color: inherit; */
  padding: 4px;
}

#tempo:focus {
  /* outline: 2px dashed gray; */
}

#footer {
  background: #333333;
}

.App {
  /* text-align: center; */
  height: 100vh;
  display: flex;
  flex-direction: column;

  font-family: Roboto;
}

.App-header {

}

.App-menu-bar {
  background-color: #333333;
  color: white;
  padding: 8px;
}

.menu-button {
  /* background-color: #282828; */
  display: inline-block;
  /* background-color: red; */
  /* border: 1px solid gray; */
  box-sizing: content-box;
  /* border-radius: 8px; */
  height: 2em;
  line-height: 2em;
  margin-left: 8px;
  /* outline: 1px solid green; */
  padding: 8px;
  text-align: center;
  cursor: pointer;
}

.menu-button:first-child {
  margin: 0;
}

.menu-button label {
  cursor: pointer;
}

.menu-button:hover {
  /* background-color: #282828; */
  filter: brightness(1.2);
  /* border: 1px solid gray; */
}

.menu-button.static {
  background-color: #282828;
  /* box-shadow: 0 0 8px 0 black; */
  cursor: default;
  filter: brightness(1);
}

.metronome.unmuted {
  background: mediumseagreen;
}

/* .metronome.muted {
  background: #282828;
} */
