#title {
  border: 0;
  background-color: inherit;
  color: inherit;
  font: inherit;
  font-size: 2em;
  margin: 0 4px;
  padding: 8px;
  text-overflow: ellipsis;
}

#title:hover {
  background-color: #444444;
}

#title:focus {
  outline: 2px dashed gray;
}

#tempo {
  /* background-color: #444444; */
  border: 0;
  /* color: inherit; */
  padding: 4px;
}

#tempo:focus {
  /* outline: 2px dashed gray; */
}

.App {
  /* text-align: center; */
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-header {

}

.App-menu-bar {
  background-color: #282828;
  color: white;
  padding: 8px 4px;
}

.menu-button {
  display: inline-block;
  /* background-color: red; */
  /* border: 1px solid gray; */
  border-radius: 8px;
  margin: 0 4px;
  padding: 8px;
  cursor: pointer;
}

.menu-button:hover {
  background-color: #444444;
  /* border: 1px solid gray; */
}

button {
  background-color: inherit;
  border: 0;
  color: inherit;
  font: inherit;
  padding: 0;
}
